*{
    padding: 0%;
    margin: 0;
}
body{
    background-color: rgb(253, 243, 220);
}
button{
    padding: 15px;
    background-color: darkslategray;
    border: none;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px;
}
button{
    padding: 15px;
    background-color: darkslategray;
    border: 2px solid darkslategray;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px;
    transition: .3s ease-in-out;

}
button:hover{
    padding: 15px;
    background-color:rgb(253, 243, 220);
    border: 2px solid rgb(177, 154, 102);
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
    margin: 20px;
}
nav{
    background-color: darkslategray;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding: 10px;
    position: sticky;
    text-align: center;
}
.inside{
    font-size: 20px;
    width: 100vh;
}
.introduction{
    padding-top: 20%;

}
.btn{
    padding-top: 10%;
}
.tp{
    width: 300px;
    padding-top: 50px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    margin: 10px;
    background-color: rgb(245, 231, 198);
    border-radius: 20px;
    border: 4px solid darkslategray;
}